html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}
hr{
  color: #FFFFFF;
  width:50%;
  margin:0 auto 20px;
}
h2{
  margin:0;
}
h4{
  margin:0;
}
p{
  margin:0;
  text-indent: 2em;
}
h5{
  margin:0;
}
a{
  text-decoration: none;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.mask{
  width: 100%;
  height:100%;
  background-color: #2C2C2C;
  opacity:0.6;
  position: fixed;
  display: none;
  z-index: 1;
}
#login-container{
  display: none;
  width:30%;
  height:30%;
  position: fixed;
  left:35%;
  top:30%;
  background: url("../img/logsign/bg.jpg") no-repeat;
  background-size: cover;
  z-index:2;
  animation-name:logsignshiny;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  @keyframes logsignshiny {
    0%{
      box-shadow: 0 0 20px #ffffff;
    }
    50%{
      box-shadow: 0 0 5px #ffffff;
    }
    100%{
      box-shadow: 0 0 20px #ffffff;
    }
  }
  #close{
    position: absolute;
    right:0;
    top:0;
    transform: scale(2);
    transition: all 0.3s ease-in-out;
    color: #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
    &:hover{
      box-shadow: 0 0 5px #ffffff;
      transform: scale(2.1);
    }
    &:active{
      color: #000000;
    }
  }
  form{
    width:50%;
    margin:15% 0 0 30%;
    color: #FFFFFF;
    input{
      margin-bottom: 25px;
      color: #C79CCC;
      outline: none;
      background-color: transparent;
      border-top:0;
      border-left:0;
      border-right:0;
      border-bottom: 1px solid #ffffff;
      transition:all 0.3s ease-in-out;
      &:focus{
        box-shadow: 0 0 20px #ffffff;
      }
    }
    span{
      cursor: pointer;
      margin-left:15%;
      display: inline-block;
      transition: all 0.3s ease-in-out;
      &:hover{
        transform: scale(1.1);
      }
      &:active{
        color: #000000;
      }
      &:first-of-type{
        width: 32px;
      }
      &:last-of-type{
        width: 98px;
      }
    }
  }
}
#signup-container{
  @extend #login-container;
  #signup{

  }
}
.bg{
  ul{
    position: fixed;
    font-size: 0;
    padding:0;
    width:100%;
    height:100%;
    z-index: -2;
    li{
      position: absolute;
      list-style: none;
      height:100%;
      width:100%;
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0;
      animation-name: bgmove;
      animation-duration: 28s;
      animation-iteration-count: infinite;
      @keyframes bgmove {
        0% {
          opacity: 0;
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -ms-transform: scale(1);
          -o-transform: scale(1);
          transform: scale(1);
        }
        15%{
          opacity:1;
        }
        25%{
          opacity:1;
        }
        40%{
          opacity:0;
        }
        100% {
          opacity:0;
          -webkit-transform: scale(1.175);
          -moz-transform: scale(1.175);
          -ms-transform: scale(1.175);
          -o-transform: scale(1.175);
          transform: scale(1.175);
        }
      }
      &:nth-child(1){
        background-image: url("../img/news/0.jpg");
        animation-delay: 21s;
      }
      &:nth-child(2){
        background-image: url("../img/news/1.png");
        animation-delay: 14s;
      }
      &:nth-child(3) {
        background-image: url("../img/news/2.jpg");
        animation-delay: 7s;
      }
      &:nth-child(4){
        background-image: url("../img/news/3.jpeg");
        animation-delay: 0s;
      }
    }
  }
}
.header-container {
  display: inline-block;
  box-shadow:0 0 20px #c6c6c6;
  opacity: 0.7;
  height:50px;
  width: 100%;
  margin:0 auto;
  background-color: #C79CCC;
  color: #FFFFFF;
  h1{
    float: left !important;
    letter-spacing: 20px;
    margin:0 0 0 10%;
    color: #2C2C2C;
    animation-name: headershiny;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    @keyframes headershiny {
      0%{
        opacity: 1;
      }
      50%{
        opacity: 0.7;
      }
      100%{
        opacity: 1;
      }
    }
  }
  nav{
    display: inline-block;
    margin-left:5%;
    ul{
      padding:0;
      margin:0;
      li{
        list-style: none;
        display: inline-block;
        margin-right:25px;
        a{
          //letter-spacing: 5px;
          display: block;
          text-decoration: none;
          line-height: 50px;
          color: #FFFFFF;
          border-radius: 50%;
          transition: all 0.3s ease-in-out;
          &:hover{
            //background-color: #B67BBD;
            box-shadow:0 0 20px #ffffff;
            transform: scale(1.1);
          }
          &:active{
            color: #000000;
          }
          span{
            margin-right:2px;
          }
        }
      }
    }
  }
  .navside{
    margin-right: 20%;
    display: inline-block;
    float: right !important;
    ul{
      padding:0;
      margin:0;
      li{
        list-style: none;
        display: inline-block;
        line-height: 50px;
        span{
          display: inline-block;
        }
      }
      .search{
        position: absolute;
        right:25%;
        cursor: pointer;
        transform: scale(1.3);
        transition: all 0.3s ease-in-out;
        &:hover{
          transform: scale(1.5);
        }
        &:active{
          color: #000000;
        }
      }
      .logsign{
        margin-right:-120px;
        #loginBtn{
          cursor: pointer;
          display: inline-block;
          transition: all 0.3s ease-in-out;
          &:hover{
            transform: scale(1.1);
          }
          &:active{
            color: #000000;
          }
          span{
            margin-right: 2px;
          }
        }
        #signupBtn{
          cursor: pointer;
          display: inline-block;
          transition: all 0.3s ease-in-out;
          &:hover{
            transform: scale(1.1);
          }
          &:active{
            color: #000000;
          }
          span{
            margin-right: 2px;
          }
        }
      }
    }
  }
}
.footer-container{
  background-color: #C79CCC;
  opacity: 0.7;
  box-shadow:0 0 20px #c6c6c6;
  color: #FFFFFF;
  .contact{
    width: 100%;
    dl{
      display: inline-block;
      dt{
        //opacity: 0;
        //box-shadow: 0 0 20px transparent;
        //background-color: transparent;
        margin-bottom:10px;
        border-radius: 43%;
        animation-name: footershiny;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        @keyframes footershiny {
          0%{
            opacity: 0;
            box-shadow: 0;
            background-color: transparent;
            color: #FFFFFF;
          }
          50%{
            opacity: 1;
            box-shadow: 0 0 20px #ffffff;
            background-color: #ffffff;
            color: #C79CCC;
          }
          100%{
            opacity: 0;
            box-shadow: 0;
            background-color: transparent;
            color: #FFFFFF;
          }
        }
      }
      dd{
        padding:0 0 10px 0;
        a{
          display:block;
          text-decoration: none;
          color: #FFFFFF;
          transition: all 0.3s ease-in-out;
          &:hover{
            transform: scale(1.1);
          }
          &:active{
            color: #000000;
          }
        }
      }
      &:nth-child(1){
        margin-left: 23%;
      }
      &:nth-child(2){
        float: right !important;
        margin-right:23%;
      }
    }
  }
  .logo{
    height:50px;
    span{
      border-radius: 50%;
      margin:0 auto;
      display: block;
      height: 100%;
      width:3%;
      background: url("../img/icon/icon.jpg") no-repeat;
      background-size: cover;
      box-shadow: 0 0 20px #ffffff;
    }
  }
  .copyright{
    height: 50px;
    line-height:50px;
    text-align: center;
    font-size: 0.9em;
  }
}
.main-container{
  width:100%;
  min-height:500px;
  //background-color: #2b669a;
  .maincontent{
    width: 50%;
    opacity: 0.7;
    margin:0 0 0 15%;
    float: left !important;
    h2{
      padding:25px 0 25px 0;
    }
    .picpv{
      margin-top:15px;
      width: 100%;
      background-color: white;
      box-shadow: 0 0 20px #c6c6c6;
    }.blogpv{
       margin-top:15px;
       width:100%;
       background-color: white;
       box-shadow: 0 0 20px #c6c6c6;
     }
  }
  .sidecontent{
    width: 17%;
    opacity: 0.7;
    margin: 0 15% 0 0;
    float: right !important;
    h5{
      padding:15px 0 15px 0;
    }
    .hot{
      margin-top: 15px;
      width: 100%;
      background-color: white;
      box-shadow: 0 0 10px #c6c6c6;
    }
    .newcomment{
      margin-top: 15px;
      width: 100%;
      background-color: white;
      box-shadow: 0 0 20px #c6c6c6;
    }
  }
}
#search0 {
  border-radius: 10px;
  background-color: #e5eccd;
  width:50%;
  height:40px;
  position: absolute;
  top: 52px;
  left:25%;
  opacity: 0;
  transform: scale(0);
  z-index: 1;
}
#search0:hover{
  box-shadow: 2px 2px 3px 3px #3c3c3c;
}
#input01:focus{
  outline: 0;
  border: 1px solid #9999FF;
  box-shadow: 2px 2px 10px 2px #9999FF;
}
#input01{
  width: 80%;
  height: 40px;
}
#input02{
  border: none;
  font-size: medium;
}
.newsbg{
  height:40%;
  width:100%;
  background: url("../img/news/newsbg.jpg") no-repeat fixed;
  background-size: cover;
  box-shadow:0 -5px 20px #c6c6c6;
  z-index: -1;
  .news{
    color: whitesmoke;
    background-color: transparent;
    height: 100%;
    //height: 40rem;
    width:50%;
    overflow: hidden;
    margin:0 0 0 25%;
    box-shadow:0 -5px 20px #c6c6c6;
    position: relative;
    .newsshow{
      height:100%;
      width: 400%;
      ul{
        height:100%;
        width:100%;
        padding: 0;
        font-size:0;
        transition:all 3s ease-in-out;
        li{
          display: inline-block;
          list-style: none;
          height:100%;
          width:20%;
          background-size: cover;
          background-repeat: no-repeat;
        }
        #li0{
          background-image: url("../img/news/0.jpg");
        }
        #li1{
          background-image: url("../img/news/1.png");
        }
        #li2{
          background-image: url("../img/news/2.jpg");
        }
        #li3{
          background-image: url("../img/news/3.jpeg");
        }
        #li4{
          background-image: url("../img/news/4.jpg");
        }
      }
    }
    .newspv{
      position: absolute;
      top:0;
      right:0;
      width: 20%;
      height: 100%;
      font-size: 0;
      text-align: center;
      .news01 {
        display: block;
        width: 100%;
        height: 20%;
        background-size: cover;
        background-image: url("../img/news/0.jpg");
      }
      .news02{
        @extend .news01;
        background-image: url("../img/news/1.png");
      }
      .news03{
        @extend .news01;
        background-image: url("../img/news/2.jpg");
      }
      .news04{
        @extend .news01;
        background-image: url("../img/news/3.jpeg");
      }
      .news05{
        @extend .news01;
        background-image: url("../img/news/4.jpg");
      }
    }
  }
}
.scroll{
  position: fixed;
  bottom:110px;
  left:80%;
  height: 60px;
  width: 60px;
  overflow: hidden;
  cursor: pointer;
  display: none;
  background: url("../img/icon/backTop.gif") no-repeat;
  background-size: cover;
  opacity: 0.7;
  border-radius: 10px;
  &:hover{
    #scroll0{
      top:0;
    }
  }
  #scroll0{
    position: absolute;
    top:60px;
    display: block;
    height: 60px;
    width: 60px;
    background-color: #e7e7e7;
    transition: top 0.4s ease-in-out;
    color: #bababa;
    text-align: center;
    line-height:60px;
  }
}
.comment{
  @extend .blogpv;
}