{% extends 'LeeBundle::layout.html.twig' %}
{% block main %}
    <p>222</p><p>222</p><p>222</p><p>222</p><p>222</p><p>222</p><p>222</p><p>222</p><p>222</p><p>222</p><p>222</p><p>
    222</p><p>222</p><p>222</p><p>222</p><p>222</p><p>222</p><p>222</p><p>222</p><p>222</p><p>222</p><p>222</p><p>
    222</p><p>222</p><p>222</p><p>222</p><p>222</p><p>222</p><p>222</p><p>222</p><p>222</p><p>222</p><p>222</p><p>
    222</p><p>222</p><p>222</p><p>222</p><p>222</p><p>222</p><p>222</p><p>222</p><p>222</p><p>222</p><p>222</p><p>
    222</p><p>222</p><p>222</p><p>222</p><p>222</p><p>222</p>
    {%  for r in results %}
        {#直接使用r是不行滴！！！#}
        {{ r.username }}
    {% endfor %}
{% endblock %}